<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/header :: header-css"/>
    <link href="plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="css/checkbox.css" rel="stylesheet">

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-19175540-9', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        input[type=checkbox].css-checkbox {
            position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
        }

        input[type=checkbox].css-checkbox + label.css-label {
            padding-left:29px;
            height:24px;
            display:inline-block;
            line-height:24px;
            background-repeat:no-repeat;
            background-position: 0 0;
            font-size:24px;
            vertical-align:middle;
            cursor:pointer;

        }

        input[type=checkbox].css-checkbox:checked + label.css-label {
            background-position: 0 -24px;
        }
        label.css-label {
            background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_25c68cea905658aa397c192548f75f50.png);
            /*background-image:url(static/plugins/images/CheckPng.png);*/
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }</style>


</head>

<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->

    <div th:replace="fragments/header :: header"/>

    <!-- End Top Navigation -->
    <!-- Left navbar-header -->

    <div th:replace="fragments/LeftNavBarRespo:: LeftNavBarRespo"/>

    <!-- Left navbar-header end -->


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <!-- .page title -->
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"> Dossier du candidat: </h4>
                    <p id="text" style="display:none;
    background-color: #ddd;
    border: 5px;
    color: rgba(0,0,0,.5);
    border-color: #dff0d8;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 200px;
    border-radius: 5px; "> <b>Dossier valide !</b></p>

                    <p id="text2" style="display:block;
    background-color: #ddd;
    border: 5px;
    color: rgba(0,0,0,.5);
    border-color: #dff0d8;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 250px;
    border-radius: 5px; "><b>Dossier pas encore valide !</b></p>
                </div>

            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <form action="">

                        <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle" data-page-size="200">
                            <thead>
                            <tr>
                                <th data-sort-initial="" data-toggle="" style="background-color: #4f5467; color: white; text-align: center ">Critère</th>
                                <th  style="background-color: #4f5467 ; color: white" ; width="200px" > Fichiers</th>
                                <th  style="background-color: #4f5467 ; color: white" > Verification</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td colspan="3" style="text-align: center"> <b>Activités pédagogiques</b></td>


                            </tr>
                            <tr>
                                <td>Nombre d'Années d’enseignement en premier cycle</td>
                                <td>
                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce2</a></span></li>
                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG12" class="css-checkbox"  onclick="myFunction()"/><label for="checkboxG12" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre d'Années d’enseignement en Graduation</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG13" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG13" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre d'Années d’enseignement en second cycle (master)</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG14" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG14" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre d'ouvrages édités</td>
                                <td>
                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG15" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG15" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre de manuels édités</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG16" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG16" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre de polycopes édités (> 100 pages)</td>
                                <td>
                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG17" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG17" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: center"><b> Ecadrement</b></td>


                            </tr>
                            <tr>
                                <td>Nombre de mémoire de fin d’études de masters encadrés et soutenus</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG18" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG18" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre de mémoires de magister dirigés et soutenus</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG19" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG19" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td>Nombre de thèses de doctorat ou de doctorat d’état dirigées et soutenues)</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG20" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG20" class="css-label"></label></td>


                            </tr>

                            <tr>
                                <td colspan="3" style="text-align: center"><b> Activités scientifiques</b></td>


                            </tr>
                            <tr>
                                <td colspan="3">1-Publications internationales:</td>

                            </tr>
                            <tr>
                                <td>Nombre d'ouvrage pédagogique édité</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG21" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG21" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td>Nombre de revues</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG22" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG22" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td>Nombre des actes et procedings édités</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG23" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG23" class="css-label"></label></td>


                            </tr>

                            <tr>
                                <td colspan="3">2-Publications nationales:</td>

                            </tr>
                            <tr>
                                <td>Nombre d'ouvrage pédagogique édité</td>

                                <td>   <ul>
                                    <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                </ul> </td>

                                <td><input type="checkbox" name="checkboxG1" id="checkboxG24" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG24" class="css-label"></label></td>
                            </tr>
                            <tr>
                                <td>Nombre de revues</td>
                                <td>
                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG25" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG25" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td>Nombre des actes et procedings édités</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG26" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG26" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td colspan="3" >3-Communication:</td>
                            </tr>
                            <tr>
                                <td>Internationnales</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG27" class="css-checkbox"  checked onclick="myFunction()"  /><label for="checkboxG27" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td>Nationales</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>

                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG28" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG28" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td >4-Responsable ou membre d'un projet de rechrche</td>
                                <td>
                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG29" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG29" class="css-label"></label></td>


                            </tr>

                            <tr>
                                <td colspan="3" >5-Animations scientifiques:</td>
                            </tr>
                            <tr>
                                <td>Organisation de colloque, expertise,membre de omités de lecture,...</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG30" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG30" class="css-label"></label></td>


                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: center"><b> Activités administratives</b></td>
                            </tr>
                            <tr>
                                <td colspan="3">1-Responsabilités administratives :</td>
                            </tr>
                            <tr>
                                <td >Recteur, directeur de centre universitaire,directeur d'école,vice-recteur,doyen,vice doyen,directeur d'institu,chef de département, chef de département adjoint...</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG31" class="css-checkbox"  checked onclick="myFunction()" /><label for="checkboxG31" class="css-label"></label></td>

                            </tr>
                            <tr>
                                <td colspan="3">2-Présidence d'organes d'évaluation pédagogique et scientifique:</td>
                            </tr>
                            <tr>
                                <td >Conseil scientifique, ou comité scientifique</td>
                                <td>

                                    <ul>
                                        <li> <span style="color: #0000ff;"><a th:href="@{plugins/images/Gris3.png}" downloa? target="_blank">  Consulter pièce1</a></span></li>

                                    </ul>
                                </td>
                                <td><input type="checkbox" name="checkboxG1" id="checkboxG32" class="css-checkbox"  checked   onclick="myFunction()" /><label for="checkboxG32" class="css-label"></label></td>


                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="text-right">
                                        <ul class="pagination">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                            <button type="submit" class="btn btn-default">Confirmer</button>
                        </form>
                            <script>
                            function myFunction() {
                                var checkBox = document.getElementById("checkboxG12");
                                var checkBox2 = document.getElementById("checkboxG13");
                                var checkBox3 = document.getElementById("checkboxG14");
                                var checkBox4 = document.getElementById("checkboxG15");
                                var checkBox5 = document.getElementById("checkboxG16");
                                var checkBox6 = document.getElementById("checkboxG17");
                                var checkBox7 = document.getElementById("checkboxG18");
                                var checkBox8 = document.getElementById("checkboxG19");
                                var checkBox9 = document.getElementById("checkboxG20");
                                var checkBox10 = document.getElementById("checkboxG21");
                                var checkBox11 = document.getElementById("checkboxG22");
                                var checkBox12 = document.getElementById("checkboxG23");
                                var checkBox13 = document.getElementById("checkboxG24");
                                var checkBox14 = document.getElementById("checkboxG25");
                                var checkBox15 = document.getElementById("checkboxG26");
                                var checkBox16 = document.getElementById("checkboxG27");
                                var checkBox17 = document.getElementById("checkboxG28");
                                var checkBox18 = document.getElementById("checkboxG29");
                                var checkBox19 = document.getElementById("checkboxG30");
                                var checkBox20 = document.getElementById("checkboxG31");
                                var checkBox21 = document.getElementById("checkboxG32");


                                var text = document.getElementById("text");
                                var text2=document.getElementById("text2");
                                if (checkBox.checked == true && checkBox2.checked == true &&
                                    checkBox3.checked == true && checkBox4.checked == true &&
                                    checkBox5.checked == true && checkBox6.checked == true &&
                                    checkBox7.checked == true && checkBox8.checked == true &&
                                    checkBox9.checked == true && checkBox10.checked == true &&
                                    checkBox11.checked == true  && checkBox12.checked == true &&
                                    checkBox13.checked == true && checkBox2.checked == true &&
                                    checkBox14.checked == true && checkBox15.checked == true &&
                                    checkBox16.checked == true && checkBox17.checked == true &&
                                    checkBox18.checked == true && checkBox19.checked == true &&
                                    checkBox20.checked == true && checkBox21.checked == true ){
                                    text.style.display = "block";
                                    text2.style.display = "none";
                                    // alert("Dossier complet  !");
                                } else {
                                    text.style.display = "none";
                                    text2.style.display = "block";

                                }
                            }
                        </script>


                    </div>


                </div>
            </div>

        </div>
        <!-- .row -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.right-sidebar -->


    </div>
    <!-- /.container-fluid -->
    <div th:replace="fragments/footer :: footer"/>

</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<div th:replace="fragments/footer :: footer-js"/>



</body>

</html>
